<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>login page</h1>
    <div id="fo">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <p>Username:{{form.username}}</p>
        <p>Password:{{form.password}}</p>
        {{form.submit}}
    </form></div>
    <script>{{a}}('wrong password')</script>
    <script>{{b}}('user deleted')</script>
    <script>{{c}}('data cleaned')</script>
     <a href="{{url_for('register')}}">dont have account signup</a><p></p>
     <a href="{{url_for('delete')}}">delete your account</a><p></p>
     
</body>
</html>