<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Users</h1>
    <h2>{% if current_user.is_authenticated %}
        Hi {{ current_user.username}}!
      {% endif %}</h2>
      {% if followe %}
      <h4>Found following users maching</h4>
      {% endif %}
    {% if users!='' %}
        {% for i in users %}
        {% if i.id != current_user.id %}
        {% if i.id|string not in followe %}
        <form method="POST" action="http://127.0.0.1:5000/follow/{{i.id}}">
           {{i.username}}<button type="submit">   Follow</button>
        </form>
        {% endif %}
        {% if i.id|string in followe %}
        <form method="POST" action="http://127.0.0.1:5000/unfollow/{{i.id}}">
            {{i.username}}<button type="submit">   Unfollow</button>
         </form>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        <p><a href="/dashboard">dashboard</a></p>
        
</body>
</html>